<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digitalpaper">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- in application to access email                        android:name="com.example.digitalpaper.VarStorage"                  -->

    <application

        android:name="com.example.digitalpaper.VarStorage"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".osnatel.osnatelAnbieterwechsel"></activity>
        <activity android:name=".osnatel.osnatelHausanschluss" />
        <activity android:name=".osnatel.osnatelSepa" />
        <activity android:name=".osnatel.osnatel3" />
        <activity android:name=".osnatel.osnatel2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".GPSTrackingDemo" />
        <activity android:name=".unterschrift" />
        <activity android:name=".ewe.EWEhausanschluss" />
        <activity android:name=".ewe.EWEanbieterwechsel" />
        <activity android:name=".ewe.EWEsepa" />
        <activity android:name=".ewe.ewe3" />
        <activity android:name=".ewe.ewe2" />
        <activity android:name=".osnatel.osnatel1" />
        <activity android:name=".ewe.ewe1" />
        <activity android:name=".Hauptmenue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>